################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EnigmaSettings/bin/Debug
/EnigmaSettings/obj/Debug
/.vs/EnigmaSettings/v16
/EnigmaSettings/bin/Release
/EnigmaSettings/obj/Release/TempPE/Resources.Designer.cs.dll
/EnigmaSettings/obj/Release
/EnigmaSettingsPCL/obj/Debug/TempPE
/EnigmaSettingsPCL/obj/Debug
/.vs
/EnigmaSettings/obj
