################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EnigmaSettings/bin/Debug
/EnigmaSettings/obj/Debug
